:local(.ParallaxWrapper){
    width: 100%;

    box-sizing: border-box;
    position: relative;
}
:local(.ParallaxImage){
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
:local(.ParallaxImage:hover){
    filter:blur(0px) !important;
    transition: filter .3s;
}
:local(.Body){
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;

}