:local(.NavigationTitle){
    font-size: 25px;

    padding-left: 5px;
    padding-right: 5px;

}
:local(.NavigationTitle:hover){
    text-shadow: 0px 0px 8px rgb(15, 166, 226) !important;
}
:local(.Text){
    text-align: center;
    background-color: rgba(19, 9, 153, 0.644);
    padding: 8px;
    padding-bottom: 10px !important;
    opacity: 100%;
    border-radius: 15px;
    color: rgb(61, 16, 102, 0);
    text-shadow: 0px 0px 1px rgba(15, 166, 226, 0.404);
    transition: text-shadow .6s;
    border: 2px  #0b7ce6be;
    animation:glowaround 2s linear infinite;
}
@media(max-width: 600px){
    :local(.Text){
        animation: 0;
        box-shadow: inset 0px 0px 5px 1px #0b7ce6;
        text-shadow: 0px 0px 1px rgb(15, 166, 226);
    }
}
:local(.Text:hover){
    animation: 0;
    text-shadow: 0px 0px 1px rgb(15, 166, 226);
    box-shadow: inset 0px 0px 5px 1px #0b7ce6;
    cursor: help;

}
@keyframes glowaround{
    0%{
        box-shadow: 1px 0px 0px 1px  #0b7ce6 ;
    }
    10%{
        box-shadow: 1px 1px 0px 1px #0b7ce6 ;
    }
    20%{
        box-shadow: 0.5px 1px 0px 1px #0b7ce6 ;
    }
    25%{
        box-shadow: 0px 1px 0px 1px #0b7ce6 ;
    }
    30%{
        box-shadow: -0.5px 1px 0px 1px #0b7ce6 ;
    }
    40%{
        box-shadow: -1px 1px 0px 1px #0b7ce6 ;
    }
    50%{
        box-shadow: -1px 0px 0px 1px #0b7ce6 ;
    }
    60%{
        box-shadow: -1px -1px 0px 1px #0b7ce6 ;
    }
    70%{
        box-shadow: -0.5px -1px 0px 1px #0b7ce6 ;
    }
    75%{
        box-shadow: 0px -1px 0px 1px #0b7ce6 ;
    }
    80%{
        box-shadow: 0.5px -1px 0px 1px #0b7ce6 ;
    } 
    90%{
        box-shadow: 1px -1px 0px 1px #0b7ce6 ;
    }
    100%{
        box-shadow: 1px 0px 0px 1px #0b7ce6 ;
    }
}