.homepage{
    width:100vw;
    height:100vh;
}
.bg-hue{
    width:100%;
    height:100%;
    background: rgb(132,206,235);
    background: radial-gradient(circle, rgba(132,206,235,1) 0%, rgba(86,128,233,1) 70%, rgba(136,96,208,1) 100%);

}
.overlay{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;

    background-color: #eeeeee66;
    

    overflow-x:hidden;
    overflow-y:scroll;

}

.homepage-title{
    font-family: 'Raleway';
    width:100%;
    text-align: center;
    font-weight: bold;

    padding-top: 40vh;

    font-size: 5em;

    color: #ffffff;
}

.full-page{
    width:100vw;
    height:100vh;
}

.homepage-header{
    font-family: 'Raleway';
    width:100%;
    text-align: center;
    font-weight: bold;

    padding-top:6px;

    font-size: 5em;

    color: #ffffff;
}

.homepage-body{
    font-family: 'Raleway';
    width:80%;
    text-align: center;
    

    font-size:2.1em;
    color: #fff;
    margin-left:auto; 
    margin-right:auto; 
}
.section{
    padding-top: 15px;
    padding-bottom: 15px;
}