:local(.NavigationElem){
    width: auto;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    color:#ddd;
    font-size: 18px;
    text-shadow: 0.5px 1px 1px 1px #333;

    padding:5px;

    margin-top: 5px;
    margin-bottom: 5px;

    text-align: center;
    background-color: #33333344;
    transition: background-color .3s;
}
:local(.NavigationElem:hover){
    background-color: #55555577;
}