:local(.Taskbar){
    top: 0;
    left: 0; 
    height:auto;
    width: 100%;

    flex-direction: row;
    flex-flow: row nowrap;
    display: flex;

    font-size: medium;

    background-color: rgb(12, 24, 46);
    background: linear-gradient(to top, rgb(27, 38, 59), rgb(27, 60, 121));
    animation: shadowPulse 8s infinite;
}

:local(.Title){
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

:local(.Link){
    font-size: 15px;
    border-bottom: 1px solid #999;
}