:local(.Main){
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #111, #222);
    animation: resumeFadeIn 1s linear;
}

@keyframes resumeFadeIn{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}