:local(.HomePage){
    padding:10px;
}
:local(.Main){
    width:100%;
    height:100%;
    position: relative;
}
:local(.Info){
    padding:10px;
}
:local(.BgImg){
    position: absolute;
    top:0;
    left:0;

    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
:local(.BgHue){
    position: absolute;
    top: 0;
    left: 0;

    width:100%;
    height:100%;
}
:local(.ContentPane){
    overflow-y: auto;
    z-index: 100;
    
    background-color: #111;
    height: 50px;
}