:local(.Layout){
    display: flex;
}
:local(.ScrollPane){
    width:100%;
    overflow-y: auto;

    scrollbar-width: 5px;
    scrollbar-track-color: #222222aa;
    scrollbar-face-color: #444444aa;
}
:local(.ScrollPane::-webkit-scrollbar){
    width:5px;
    height:5px;
}
:local(.ScrollPane::-webkit-scrollbar-track){
    background-color: #222222aa;
}
:local(.ScrollPane::-webkit-scrollbar-button){
    background-color: #444444aa;
}
@media(max-width:1000px){
    :local(.Layout){
        display: block;
    }
}

.layout{
    width:100vw;
    height:100vh;
    overflow:hidden;

    background-color: #111111;
    /*background: linear-gradient(135deg,#111111 0%, #2f4255 50%, #111111 100%);*/
    animation-iteration-count: infinite;
    
    background-size: 400% 400%;
}

@keyframes gradient-move {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.layout-content{
    width:100%;
    height:100%;
    overflow-y: hidden;
}

.content-container{
    display:flex;
    width:100vw;
}

.layout *::-webkit-scrollbar{
    width:5px;
    height:5px;
}
.layout *::-webkit-scrollbar-track{
    background-color: #222222aa;
}
.layout *::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom, #555555, #777777);
    border-radius: 5px;
}
