:local(.SpanningImage){
    width:100%;
    height :100%;
    position: relative;
}
:local(.Image){
    width: 100%;
    opacity: 1;

    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
:local(.Borders){
    border-top: 5px solid #15244966;
    border-bottom: 5px solid #15244966;
}
:local(.Content){
    z-index: 10;
    position: relative;
}

:local(.Overlay){
    position: absolute;

    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}